* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif;
  }
  
  body {
    background:#0F5259
  }
  .todo-app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 600px;
    min-height: 600px;
    background :whitesmoke;
    text-align: center;
    margin: 128px auto;
    border-radius: 10px;
    padding-bottom: 32px;
  }
  
  h1 {
    margin: 32px 0;
    color:#061D26;
    font-size:30px;
  }
  
  .complete {
    text-decoration: line-through;
    opacity: 0.4;
  }
  
  .todo-form {
    margin-bottom: 32px;
  }
  
  .input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid #A67458;
    outline: none;
    width: 320px;
    background: transparent;
    color: black;
  }
  
  .input::placeholder {
    color: #061D26;
  }
  
  .button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background:#A67458
    ;
    color: #fff;
    text-transform: capitalize;
  }
  
  
  
  .todo-container {
    display: flex;
    flex-direction: row;
    position: relative;
  }
  
  .todo-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    font-size: larger;
    color: white;
    background: #0F5259
    ;
  
    padding: 16px;
    border-radius: 5px;
    width: 90%;
  }
  
  
  
  .icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .delete-icon {
    margin-right: 5px;
    color: white;
  }
  
  .edit-icon {
    color: white;
  }
  @media (max-width: 500px){
  
      .todo-app {
       border : solid 20px  #0F5259;
      }
  }